body{
	background-image: none;
	background-size: cover;
}

h1{
	text-align: center;
	color: green;
}
 p {
	background-image: url(Jamuna.jpg) ;
	background-attachment: fixed ; 
	background-repeat: no-repeat; 
	background-size: cover; 
	background-position: center;
	color:red;
	text-align: center;
	opacity: .6;
	border: 5px solid rgba(255, 176, 170, 0.5);
	cursor: pointer;
}
p{
	color: pink;
	line-height: 30px;
	font-style: italic;
	font-weight: bold;
	font-size: 120%;
	font-family: "times new roman",georgia;
}
h2{
	background-image: none;
	background-size: cover;
	background-color: rgb(69,147,147);
	color:red;
	text-align: center;
	font-size: 35px;
	border: 5px solid rgba(255, 176, 170, 0.5);
	cursor: pointer;
}
h3{
	background-image: none;
	background-size: cover;
	background-color: rgb(69,147,147);
	color:red;
	text-align: center;
	font-size: 35px;
	border: 5px solid rgba(255, 176, 170, 0.5);
	cursor: pointer;

}
p{
	color: yellow;
	font-size: 30px;
}
img{
	vertical-align: middle;
	object-position: center;
	display: block; margin-left: auto; margin-right: auto;
}
p1{
	color: white;
	background-image: none;
	background-size: cover;
	background-color: rgb(155,147,147);
	color:white;
	text-align: center;
	font-size: 30px;
	border: none; solid rgba(255, 176, 170, 0.5);
	cursor: pointer;
}
p2{
	background-image: url(background.jpg);
	background-size: cover;
	
	color:black;
	text-align: center;
	font-size: 30px;
	border: 2px; solid rgba(255, 176, 170, 0.5);
	cursor: pointer;
}
footer{
	clear:both;
	text-align: left;
	font-size: 20px;
}
li{
	list-style: none;
	display: inline-block;
}