body{
	background-image: none;
	background-size: cover;
}

h1{
	text-align: center;
	color: black;
}
 p {
	background-image: url(Jamuna.jpg) ;
	background-attachment: fixed ; 
	background-repeat: no-repeat; 
	background-size: cover; 
	background-position: center;
	color:red;
	text-align: center;
	border: 5px solid rgba(255, 176, 170, 0.5);
	cursor: pointer;
}
p{
	color: pink;
	line-height: 30px;
	font-style: italic;
	font-weight: bold;
	font-size: 120%;
	font-family: "times new roman",georgia;
}
h2{
	background-image: none;
	background-size: cover;
	background-color: rgb(69,147,147);
	color:red;
	text-align: center;
	font-size: 30px;
	border: 5px solid rgba(255, 176, 170, 0.5);
	cursor: pointer;
}
p{
	color: yellow;
}
img{
	vertical-align: middle;
	object-position: center;
	display: block; margin-left: auto; margin-right: auto;
}
footer{
	clear:both;
	text-align: left;
	font-size: 20px;
}
li{
	list-style: none;
	display: inline-block;
}

.input-style{
	margin: 350px;
	padding: 20px;
	font-size: 25px;
}
.input-style1{
	margin: 10px;
	height: 30px;
	width: 200px;
	border-radius: 40%;
	background-color: green;
}
.signup-style{
	margin: 10px 500px;
	height: 50px;
	width: 150px;
	border-radius: 20%;
	background-color: #00ffff;
	text-align: center;
	font-size: 30px;

}